.spacer30 {
    width: 250px;
    height: 100%;
}

.spacer10 {
    height: 12px;
    width: 100%;
}

.spacer10 {
    height: 12px;
    width: 50%;
}

.spacer5 {
    height: 20px;
    width: 100%;
}